---
import Capsule from "../ui/Capsule.astro";

const allTools = [
  "wazuh",
  "nmap",
  "wireshark",
  "linux",
  "python",
  "ansible",
  "terraform",
  "docker",
  "proxmox",
  "cisco",
  "git",
];

type ToolVariant = "default" | "center";

interface Props {
  variant?: ToolVariant;
  linkEnabled?: boolean;
  size?: "xs" | "md";
}

const { variant = "default", linkEnabled = false } = Astro.props;

// Split into two rows of 6
const firstRow = allTools.slice(0, 6);
const secondRow = allTools.slice(6, 12);
const thirdRow = allTools.slice(12, 18);

// Base classes for the container
const containerClasses =
  variant === "center"
    ? "flex flex-col items-center gap-4"
    : "flex flex-col gap-4";

// Classes for each row
const rowClasses =
  "flex flex-wrap gap-4 max-lg:gap-3 max-sm:gap-2 justify-center";
---

<div class={containerClasses}>
  <!-- First Row -->
  <div class={rowClasses}>
    {firstRow.map((tool) => <Capsule lang={tool} linkEnabled={linkEnabled} />)}
  </div>

  <!-- Second Row -->
  <div class={rowClasses}>
    {secondRow.map((tool) => <Capsule lang={tool} linkEnabled={linkEnabled} />)}
  </div>
  <div class={rowClasses}>
    {thirdRow.map((tool) => <Capsule lang={tool} linkEnabled={linkEnabled} />)}
  </div>
</div>
